.DS_Store
Hash Code Drone Delivery/.DS_Store
Hash Code Drone Delivery/.ipynb_checkpoints/
Hash Code Drone Delivery/hashcode-drone-delivery/
MNIST/.DS_Store
MNIST/.ipynb_checkpoints/
MNIST/test.csv
MNIST/train.csv
Predict Future Sales/.DS_Store
Predict Future Sales/.ipynb_checkpoints/
Predict Future Sales/competitive-data-science-predict-future-sales/
Predict Future Sales/submission.csv
Titanic/.DS_Store
Titanic/.ipynb_checkpoints/
Titanic/resultat.csv
Titanic/test.csv
Titanic/train.csv
MoA Prediction/.ipynb_checkpoints/
MoA Prediction/lish-moa/